:root {
    --bright-yellow: rgb(255, 255, 81);
    --dark-yellow: rgb(185, 185, 0);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    letter-spacing: .4ch;
    min-height: 100vh;
}

#body {
    max-width: 1000px;
    margin: auto;
    padding-inline: 2rem;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 32px;
}

.box {
    --mask:
      radial-gradient(447.21px at 50% calc(100% - 600.00px),#000 99%,#0000 101%) calc(50% - 400px) 0/800px 100%,
      radial-gradient(447.21px at 50% calc(100% + 400.00px),#0000 99%,#000 101%) 50% calc(100% - 200px)/800px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }

#header {
    font-size: 3rem;
    padding-block: 3rem;
    color: white;
    text-align: center;
    letter-spacing: .4ch;
    z-index: 2;
    position: relative;
}

#header-background {
    position: absolute;
    height: 400px;
    width: 100%;
}

#top *, #bottom *, #divider {
    transition: background-color .3s ease-in-out, opacity .5s ease-in-out;
    position: relative;
    z-index: 1;
}

#top {
    padding-block: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    z-index: 1;
}

#divider {
    background-color: white;
    height: .2rem;
    border-radius: 30px;
    border: none;
    margin-top: 0;
    margin-bottom: 5rem;
}

#bottom {

}

#ticket {
    width: 100%;
}

#ticket, #code {
    background-color: rgb(255, 255, 81);
    padding: 2rem 4rem;
    font-size: 2rem;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    letter-spacing: .5ch;
    margin-bottom: 2rem;
}

#ticket:hover {
    cursor: pointer;
    background-color: rgb(185, 185, 0);
}

#code {
    font-size: 3rem;
}

#youre-in, #code {
    opacity: 0;
}

.hidden {
    display: none;
}

@media screen and (min-width:500px) {
    #header-background {
        height: 300px;
    }
}